:root {
  --font-family-main: monospace;
  --font-size-small: 5.7pt;
  --padding-small: 7.1px;
  --background-color: #ffffff;
  --text-color: #000;
  --max-width: 610.5px;
}

nav ul,
footer ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: var(--max-width);
}

body {
  font-family: var(--font-family-main);
  max-width: var(--max-width);
  margin: 0;
  padding: 10px 10px 0 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media screen and (max-width: 400px) {
  body {
    padding: var(--padding-small) var(--padding-small) 0 var(--padding-small);
    font-size: var(--font-size-small);
  }
}
